In [7]:
import pandas as pd
import re
import os
import glob

In [8]:
pd.set_option('display.max_rows', 500)
pd.options.display.max_colwidth = 150

# again we need to locate the .csv file
list_of_files = glob.glob('/Users/ralph/Documents/python_dashboard/california_covid_data_dashboard_project/*.csv')
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file.split("\\")[-1])

df = pd.read_csv("{}".format(latest_file), header=None)

df.head()

covid19cases_test.csv

C:\Users\ralph\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
1,2020-02-01,Alameda,County,1685886.0,3.0,3.0,0.0,0.0,4.0,4,0.0,0,0.0,0.0,0.0,0.0,NaN
2,2020-02-02,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
3,2020-02-03,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
4,2020-02-04,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN

In [11]:
# print out latest COVID data date time and notes
date = re.findall("- [0-9]+/[0-9]+/[0-9]+ .+", df.iloc[0, 0])
print("COVID cases latest update:", date)

COVID cases latest update: []